h1 {
    margin-bottom: 0.3em;
}

.quote-form {
    background: #EEE;
    padding: 1em;
}

.quote-form .btn {
    margin-right: 0.5em;
}

.quote-form .fa-spin {
    color: #444;
    position: relative;
    top: 0.1em;
    left: 0.1em;
}