html, body, #app {
  background: #FFF;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#app {
  padding-top: calc(30px + 2%); /* for nav bar */
}

h1:first-child {
  margin-top: 0.8em; /* unset Baseguide */
}

hr {
  border-style: dashed;
  margin-bottom: 1em;
}

.fa-spin {
  color: #444;
}

.container {
  max-width: 800px;
  padding-bottom: 128px;
}

.text-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.text-muted {
  color: #777;
}

.text-small {
  font-size: 13px;
  line-height: 1.3em;
  margin: 5px;
}

/*

I KNO I KNO

I should just add SCSS to this project and re-compile Baseguide myself.

But I'm lazy, so here's how I make custom buttom colors.

Take this chunk:

$button-bg: #<MY COLOR HERE>;
$button-hover-bg: darken($button-bg, 10%);

.btn {
    background-color: $button-bg;

    &:hover,
    &:focus,
    &:active {
        background-color: $button-hover-bg;
    }
}

And run it through here:
http://beautifytools.com/scss-compiler.php

*/

.btn {
  border: 1px solid transparent;
  font-size: 14px;
}

.btn.disabled,
.btn[disabled] {
  opacity: 0.4;
}

.btn:focus {
  background-color: #0275d8;
  border-color: #333;
}

.btn-red,
.btn-red:focus {
  background-color: #e63a3a;
}

.btn-red:hover,
.btn-red:active {
  background-color: #d21b1b;
}

form {
  background-color: #EEE;
  padding: 1em 1em 0.1em;
}

form .btn {
  margin-right: 0.5em;
}

form .text-right .btn {
  margin-left: 0.5em;
  margin-right: 0;
}

form .fa-spin {
  position: relative;
  top: 0.1em;
  left: 0.1em;
}

/**
 * Page-specific hacks
 */

.all .quotes {
  color: black;
  font-family: Times, sans-serif;
  padding: 7% 14% 128px;
  -webkit-font-smoothing: auto; /* unset Baseguide */
  -moz-osx-font-smoothing: auto; /* unset Baseguide */
}

.all .quotes .quote {
  margin-bottom: 96px;
}

.all .quotes h1 {
  font-size: 32px;
}

.all .quotes h3 {
  font-size: 18.72px;
  font-weight: normal;
}

/**
 * Slides get their own pile
 */

.slides {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.slide {
  background: url("") center center / cover no-repeat fixed white;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slide.fade-in {
  -webkit-animation: fade 1s;
  animation: fade 1s;
  opacity: 1;
}

@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
@-moz-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
@-o-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

.slide .quote-back,
.slide .quote-fore {
  padding: 7% 14% 128px;
}

.slide .quote-back {
  position: relative;
}

.slide .quote-fore {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.slide .quote-wrap {
  margin: auto;
  max-width: 800px;
}

.slide .words,
.slide .source {
  color: white;
  font-family: "Times New Roman", serif;
  line-height: 1.2em;
  margin: 72px 0;
  opacity: 0.66;
  position: relative;
  z-index: 3;
  -webkit-font-smoothing: auto; /* unset Baseguide */
  -moz-osx-font-smoothing: auto; /* unset Baseguide */
}

.slide .words {
  font-size: 24px;
}

.slide .source {
  font-size: 16px;
  font-style: italic;
}

.slide .bar {
  display: inline;
  padding: 20px 0 24px;
  background: white;
  box-shadow: 30px 0 0 white, -28px 0 0 white;
  box-decoration-break: clone;
}

.slide .source .bar {
  padding: 12px 0 14px;
  box-shadow: 16px 0 0 white, -15px 0 0 white;
}

.slide .quote-fore .words,
.slide .quote-fore .source {
  /*opacity: 0.77;*/
  color: black;
}

.slide .quote-fore .bar{
  background: none;
  box-shadow: none;
}
