* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: #fff;
  color: #555;
}
