.container {
  max-width: 800px;
  padding-bottom: 3em;
}

.top-nav {
  font-size: 14px;
  margin: 1em 0;
  text-align: right;
}

.top-nav + h1 {
  margin-top: 0;
}

h1:first-child {
  margin-top: 0.8em; /* unset Baseguide */
}

form {
  background: #EEE;
  padding: 1em 1em 0.1em;
}

form .btn,
.controls .btn {
  margin-right: 0.5em;
}

form .text-right .btn {
  margin-left: 0.5em;
  margin-right: 0;
}

form .fa-spin {
  position: relative;
  top: 0.1em;
  left: 0.1em;
}

.fa-spin {
  color: #444;
}

hr {
  border-style: dashed;
  margin-bottom: 1em;
}

.btn {
  border: 1px solid transparent;
  font-size: 14px;
}

.btn:focus {
  background-color: #0275d8;
  border-color: #333;
}

.btn-red,
.btn-red:focus {
  background-color: #e63a3a;
}

.btn-red:hover,
.btn-red:active {
  background-color: #d21b1b;
}

.btn-empty {
  color: #025aa5;
  background-color: transparent;
  border-color: transparent;
}

.btn-empty.disabled,
.btn-empty[disabled] {
  color: black;
}

.text-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.text-muted {
  color: #777;
}

.text-small {
  font-size: 13px;
  line-height: 1.3em;
  margin: 5px;
}

/**
 * Page-specific hacks!
 */

.all {
  padding: 0 15px;
}

.all .quotes {
  padding: 48px 12% 128px;
}

.all .quote {
  color: black;
  font-family: Times, sans-serif;
  margin-bottom: 96px;
  -webkit-font-smoothing: auto; /* unset Baseguide */
  -moz-osx-font-smoothing: auto; /* unset Baseguide */
}

.all .quote h1 {
  font-size: 32px;
}

.all .quote h3 {
  font-size: 18.72px;
  font-weight: normal;
}