html, body, #app {
  background: white;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.container {
  max-width: 800px;
  padding-bottom: 128px;
}

.bottom-bar {
  background: white;
  border-top: 1px solid #CCC;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.bottom-bar-small {
  height: 30px;
  line-height: 16px;
}

.site-nav {
  font-size: 14px;
  text-align: right;
}

.site-nav .btn {
  font-size: 13px;
  padding-left: 0.9em;
  padding-right: 0.9em;
}

form {
  padding: 0.3em 0.2em 0.1em;
}

form .btn {
  margin-right: 0.5em;
}

form .text-right .btn {
  margin-left: 0.5em;
  margin-right: 0;
}

form .fa-spin {
  position: relative;
  top: 0.1em;
  left: 0.1em;
}

.fa-spin {
  color: #444;
}

hr {
  border-style: dashed;
  margin-bottom: 1em;
}

.btn {
  border: 1px solid transparent;
  font-size: 14px;
}

.btn:focus {
  background-color: #0275d8;
  border-color: #333;
}

.btn-red,
.btn-red:focus {
  background-color: #e63a3a;
}

.btn-red:hover,
.btn-red:active {
  background-color: #d21b1b;
}

.btn-nav {
  background-color: transparent;
  color: #333;
}

.btn-nav:focus,
.btn-nav:hover,
.btn-nav:active {
  background-color: #CCC;
  border-color: transparent;
  color: black;
  text-decoration: underline;
}

.btn-nav.disabled,
.btn-nav[disabled] {
  color: #777;
  opacity: 1;
}

h1 .btn {
  line-height: 21px;
}

.text-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.text-muted {
  color: #777;
}

.text-small {
  font-size: 13px;
  line-height: 1.3em;
  margin: 5px;
}

/**
 * Page-specific hacks!
 */

.edit #app,
.account #app,
.loading #app {
  background-color: #EEE;
}

.all .quotes {
  padding: 10% 12% 128px;
}

.all .quote {
  color: black;
  font-family: Times, sans-serif;
  margin-bottom: 96px;
  -webkit-font-smoothing: auto; /* unset Baseguide */
  -moz-osx-font-smoothing: auto; /* unset Baseguide */
}

.all .quote h1 {
  font-size: 32px;
}

.all .quote h3 {
  font-size: 18.72px;
  font-weight: normal;
}