html, body, #app {
  background: white;
  height: 100%;
  width: 100%;
  overflow: auto;
}

h1:first-child {
  margin-top: 0.8em; /* unset Baseguide */
}

hr {
  border-style: dashed;
  margin-bottom: 1em;
}

.fa-spin {
  color: #444;
}

.container {
  max-width: 800px;
  padding-bottom: 128px;
}

.text-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
}

.text-muted {
  color: #777;
}

.text-small {
  font-size: 13px;
  line-height: 1.3em;
  margin: 5px;
}

.btn {
  border: 1px solid transparent;
  font-size: 14px;
}

.btn:focus {
  background-color: #0275d8;
  border-color: #333;
}

.btn-red,
.btn-red:focus {
  background-color: #e63a3a;
}

.btn-red:hover,
.btn-red:active {
  background-color: #d21b1b;
}

form {
  padding: 0.3em 0.2em 0.1em;
}

form .btn {
  margin-right: 0.5em;
}

form .text-right .btn {
  margin-left: 0.5em;
  margin-right: 0;
}

form .fa-spin {
  position: relative;
  top: 0.1em;
  left: 0.1em;
}

.nav-bar {
  background: white;
  border-top: 1px solid #CCC;
  font-size: 14px;
  height: 30px;
  line-height: 16px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  z-index: 1000;
}

.nav-bar .btn {
  background-color: transparent;
  color: #333;
  font-size: 13px;
  padding-left: 0.9em;
  padding-right: 0.9em;
}

.nav-bar .btn:focus,
.nav-bar .btn:hover,
.nav-bar .btn:active {
  background-color: #CCC;
  border-color: transparent;
  color: black;
  text-decoration: underline;
}

.nav-bar .btn.disabled,
.nav-bar .btn[disabled] {
  color: #777;
  opacity: 1;
}

/**
 * Page-specific hacks!
 */

.edit #app,
.account #app,
.loading #app {
  background-color: #EEE;
}

.all .quotes {
  color: black;
  font-family: Times, sans-serif;
  padding: 9% 12% 128px;
  -webkit-font-smoothing: auto; /* unset Baseguide */
  -moz-osx-font-smoothing: auto; /* unset Baseguide */
}

.all .quotes .quote {
  margin-bottom: 96px;
}

.all .quotes h1 {
  font-size: 32px;
}

.all .quotes h3 {
  font-size: 18.72px;
  font-weight: normal;
}